<!doctype html>
<html ng-app='pcApp'>
 <head>
  <title>Parental Controls</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='parentalcontrols.css')}}" />
  <style>
table.dow td {
    text-align:center;
}
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
  <script src="http://vitalets.github.io/checklist-model/checklist-model.js"></script>
  <script src="PCCtrl.js"></script>
 </head>
 <body>
  <div id='head'>
   <div id='title'>Parental Controls</div>
  </div><!-- id='head' -->
  <div id='body'>
   <div id=PCCtrl ng-controller="PCCtrl">
    <div><span class='clickable' ng-click='get_rules()'>Reload</span></div>
    <ul ng-init="tab = 1">
      <li ng-class="{active:tab===1}"><span ng-click="tab = 1">Rules</span></li>
      <li ng-class="{active:tab===2}"><span ng-click="tab = 2">Hosts</span></li>
    </ul>
    <div id='currhosts' class='section' ng-show="tab===2">A place for my hosts</div>
    <div id='currrules' class='section' ng-show="tab===1">
     <span class='label'>Rules:</span>
      <table id='rules' style='margin:auto'>
       <tr><th></th>
          <th ng:click="changeSorting('src_name')">Src</th>
          <th ng:click="changeSorting('dst_str')">Dst</th>
          <th ng:click="changeSorting('dow')">When</th>
          <th ng:click="changeSorting('action')">Action</th>
       </tr>
       <tr>
          <td><button ng-click="add_rule(newrule)">add</button></td>
          <td><input class="form-control" list="IPs" type="text" ng-model="newrule.src_ip" />
          <td><input type="text" ng-model="newrule.dst_str" ng-click="lognewrule(newrule)"/>
          <td align=center>
            <table cellpadding=0 class='dow'>
              <tr><td ng-repeat="d in dows">{[d.label]}</td></tr>
              <tr>
               <td ng-repeat="d in dows">
                <input type="checkbox" checklist-model="newrule.dow" checklist-value="d.val" />
               </td>
              </tr>
            </table>
            <input type="time" ng-model="newrule.time" />
            <input type="time" ng-model="newrule.time_end" />
          </td>
          <td><input type="radio" ng-model="newrule.action" value="block" />block
              <input type="radio" ng-model="newrule.action" value="allow" />allow<br />
              <input type="radio" ng-model="newrule.action" value="redirect" />redirect<br />
          </td>
          <!-- <td><input type="text" ng-model="newrule.redirect" /></td> -->
       </tr>
       <tr ng-repeat='rule in myrules | orderBy:sort.column:sort.descending'>
          <td class='del'>
           <span class='clickable' ng-click='del_rule(rule._uid)' >del</span>
           <span class='clickable' ng-click='edit_rule(rule)' >edit</span>
          </td>
          <td class='src'>{[rule.src_name | stripdomain]}</td>
          <td class='dst'>{[rule.dst_str]}</td>
          <td class='when'>{[parsedow(rule.dow)]}: {[rule.time_start]} - {[rule.time_end]}</td>
          <td class='act'><span class='{[rule.action]}'>{[rule.action]}</span></td>
       </tr>
      </table>
      <datalist id="IPs">
        <option ng-repeat='host in myhosts' value="{[host.ip]}">{[host.name]}</option>
      </datalist>
    </div><!-- id='currrules' -->
   </div>
  </div><!-- id='body' -->
  <script>
  </script>
 </body>
</html>
